/* ==Base Styles
-------------------------------------------------------------- */
/* =Typography
-------------------------------------------------------------- */
body {
    @include font-size(13); // Smaller fonts on small screens look better
    -webkit-font-smoothing: antialiased; // http://maxvoltar.com/archive/-webkit-font-smoothing
    font-family: $base-font-family;
    line-height: 1.4;

    @include at-breakpoint($bp_480) {
        @include font-size(16); // Fonts enlarge proportionally
    }
}

#{headings()} {
    font-weight: normal;
}

a {
    @include link-set($base-link-color, $base-link-color, $base-link-color, $base-link-color);
        &:hover {text-decoration: underline;}
}

blockquote {
    margin:$gutter-width $gutter-width/2;
    font-style:oblique;
    cite {
        display: block;
        text-align: right;
        font-weight: bold;
        &:before {
            content: "– "
        }
    }
}

/* =Form Elements
-------------------------------------------------------------- */

label {
    margin-top: $gutter-width;
    display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="url"],
textarea {
    width: 98%;
    padding: $gutter-width/4; // line height does not compute in FF
}
select,
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    clear: both;
    margin: $gutter-width/2 0;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    @include button($base-button-color);
    &:hover {
        cursor: pointer;
    }
}

/* =Media
-------------------------------------------------------------- */
/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
    max-width: 100%;
}

/* =Globals
-------------------------------------------------------------- */
nav.site-navigation {
    margin: $gutter-width 0;

    h1 {
        // @include font-size(18);
    }
}

nav.paging-navigation,
nav.post-navigation {
    @extend %cf;
    margin: $gutter-width 0;
    border-top: 1px solid $base-border-color;

    div.nav-previous {
        float: left;
    }
    div.nav-next {
        float: right;
    }
}

.entry-meta {
    clear:both;
}
