/* =Menu
-------------------------------------------------------------- */

header[role="banner"] {

    nav[role="navigation"] {

            ul { // First Tier Navigation
                text-align: justify;
                
                ul { // Second Tier Navigation (dropdown)
                    visibility: hidden;
                    background-color: #fff;
                    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                    position: absolute;
                    top: 40px;
                    left: 0;
                    z-index: 99999;
                    width: 15em;
                    padding: 1em 0;
                    .cssanimations & {
                        margin: -20px 0 0 0;
                        _margin: 0; /*IE6 only*/
                        transition: all .2s ease-in-out;
                        opacity: 0;
                    }
                        li {
                            position: relative;
                            display: block; 
                            margin: 0;
                            padding: 0 0 0 1em;
                            line-height: 2;
                            a {
                                display: block;
                                text-transform: capitalize;
                                font-weight: normal;
                                &:hover {
                                    
                                }
                            }
                        }

                    ul { // Third Tier Navigation (flyout)
                        left: 100%;
                        top: 0;

                        a {
                            &:hover {

                            }
                        }
                    }
                }

            li {
                position: relative; // Position dropdown relative to menu item
                display:inline-block;
                *display: inline;
                *zoom: 1;
                line-height: 40px;
                &:hover {
                    > ul {
                        visibility: visible; // Display Dropdown
                        .cssanimations & {
                            opacity: 1;
                            margin: 0;
                        }
                    }
                }
            }
        }
        li.menuParent:after {
          content: "▼";
          color: #ccc;
          font-size: .75em;
        }

        ul:after {
          content: '';
          width: 100%;
          display: inline-block;
          font-size: 0;
          line-height: 0;
        }
    }
}



