/* =Menu
-------------------------------------------------------------- */

nav[role="navigation"] li {
    position: relative;

}

nav[role="navigation"] ul ul li {
    position: relative;
    float:left;
}

nav[role="navigation"] ul ul {
    background-color: #000;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 99999;
    border: 1px solid blue;
    width: auto;
}
nav[role="navigation"] ul ul ul {
    left: 100%;
    top: 0;
}
nav[role="navigation"] ul ul a {
    border: 1px solid red;
    line-height: 1em;
    padding: .5em .5em .5em 1em;
    width: 10em;
    height: auto;
}
nav[role="navigation"] li:hover > a,
nav[role="navigation"] ul ul :hover > a {
    background: #000;
}
nav[role="navigation"] ul ul a:hover {
    background: #000;
}
nav[role="navigation"] ul li:hover > ul {
    display: block;
}
