/* =Grid Variables and Mixins
-------------------------------------------------------------- */
$colmargin: 01.0416667%; //10/960
$wrapperwidth: 100%;
$colwidth: $wrapperwidth / 12; // 60/94

@mixin col ($width) {
  width: $width;
  float: left;
  margin: 0 $colmargin;
}

/* =Grid Columns – Based on 960gs
-------------------------------------------------------------- */
//Utility Classes
.one-col-span { @include col ($colwidth - $colmargin * 2); }
.two-col-span { @include col ($colwidth * 2- $colmargin * 2); }
.three-col-span { @include col ($colwidth * 3 - $colmargin * 2); }
.four-col-span { @include col ($colwidth * 4 - $colmargin * 2); }
.five-col-span { @include col ($colwidth * 5 - $colmargin * 2); }
.six-col-span { @include col ($colwidth * 6 - $colmargin * 2); }
.seven-col-span { @include col ($colwidth * 7 - $colmargin * 2); }
.eight-col-span { @include col ($colwidth * 8 - $colmargin * 2); }
.nine-col-span { @include col ($colwidth * 9 - $colmargin * 2); }
.ten-col-span { @include col ($colwidth * 10 - $colmargin * 2); }
.eleven-col-span { @include col ($colwidth * 11 - $colmargin * 2); }
.twelve-col-span { @include col ($colwidth * 12 - $colmargin * 2); }

/* =Grid Media Queries
-------------------------------------------------------------- */

//Tablet
@media only screen and (max-width: 780px) {
  .ten-col-span { @include col ($colwidth * 12 - $colmargin * 2);
  float:none;
  }

} // end @media


//Mobile
@media only screen and (max-width: 480px) {
  .one-col-span, .two-col-span, .three-col-span, .four-col-span,
  .five-col-span, .six-col-span, .seven-col-span, .eight-col-span,
  .nine-col-span, .ten-col-span, .eleven-col-span, .twelve-col-span {
    @include col ($colwidth * 12 - $colmargin * 2);
    float:none;
  }
} // end @media




