// Helper classes to practice DRY priciples 

// TODO: Consider Using/Adding @mixin OR @extend in SCSS stylesheets.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#extend


/* 
    @extend properies
*/
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
// ARIA Friendly Element hiding
// http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.visuallyhidden, .screen-reader-text { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
.screen-reader-text.focusable:active, .screen-reader-text.focusable:focus  { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

// Grid
.col-940{ width:100%; max-width: 940px; margin: 0 auto;}

/* 
    @mixin properies
*/

// @mixin Button
@mixin button ($color) {
    background: $color;
    border-radius: 3px;
    border-color: #cccccc #cccccc #bbbbbb #cccccc;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    padding: .5em 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    &:hover{
        border-color: #cccccc #bbbbbb #aaaaaa #bbbbbb;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
    &:focus, &:active {
        border-color: #aaaaaa #bbbbbb #bbbbbb #bbbbbb;
        -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }
}
  

// @mixin New Link Set
@mixin link-set($color, $colorVisited, $colorHover, $colorFocus) {
    text-decoration: none;
    color: $color;
    &:visited {color: $colorVisited;}
    &:hover {color: $colorHover;}
    &:focus {color: $colorFocus;}
    &:active {color: $colorFocus;}
}

// @mixin Unstyled List
@mixin list-type-none { 
    list-style-type: none; 
    margin-left:0; 
    padding-left:0;
}

// @mixin Inline List
@mixin inline-block-list { 
    @include list-type-none;

    li {
        display: inline-block;
        zoom: 1; // IE
        *display: inline; // IE
    }
}

// @mixin Clear Fix
@mixin clearfix {
    zoom: 1;
    &:after { clear: both; }
    &:after, &:before {
        content: ""; 
        display: table;
    }
}

.group {
    zoom: 1;
    &:after { clear: both; }
    &:after, &:before {
        content: ""; 
        display: table;
    }
}
