html {}
body {}

div.page {
  width: $base-grid-wrapperwidth;
  max-width:960px;
  margin:0 auto;
}

header[role="banner"] {
    @extend %twelve-col-span;
}

div.main-wrapper {
   @include clearfix;
    div.primary {
        @extend %eight-col-span;
    }
    div.secondary {
        @extend %four-col-span;
    }
}

footer.page-footer {
    @extend %twelve-col-span;
}