/* =Typography
-------------------------------------------------------------- */
$base-font-family:               sans-serif;

/* =Links
-------------------------------------------------------------- */
$base-link-color:                #0093d0;
$base-visited-link-color:        #0093d0;
$base-hover-link-color:          #0093d0;
$base-active-link-color:         #0093d0;

/* =Susy Grid
-------------------------------------------------------------- */
$total-columns:                  16;
$column-width:                   3.75em; //60px 
$gutter-width:                   1.25em; //20px
$grid-padding:                   $gutter-width;

// Correct box model 
@include border-box-sizing;

// Brakepoints
// $small:                          10em;
// $medium:                         20em;
// $large:                          40em;
