@import "normalize";
@import "global";

/* =Variables
-------------------------------------------------------------- */



/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */



/* =Layout
-------------------------------------------------------------- */
html {}
body {}

div.page {
    width:80%;
    margin:0 auto;
}

header[role="banner"] {}

div.main-wrapper {
    div.primary {
        width:50%;
        float:left;
        margin-right: 10%;
    }
    aside.secondary {
        width:40%;
        float:right;
    }
}

footer.page-footer {}



@import "wpcore";
@import "helperClasses";
@import "mediaq";
@import "print";
