/* =Normalize
-------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0;line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

//// =Variable & Mixins

// Color
$brand-color: #000;
$link-color: #00e;
// Typography
$serif:'Georgia, "Times New Roman", Times, Serif';
$sans-serif:'"Helvetica Neue", Helvetica, Arial, Sans-Serif';
$base-font-size:100%;

/* =Layout
-------------------------------------------------------------- */
html {}
body {}

#page {}

#branding {}

#main {
  .content-area {}
  .widget-area {}
}

.site-footer {}



/* =Menus
-------------------------------------------------------------- */

/* =Typography
-------------------------------------------------------------- */

h1 {font-size:1.5em;/*24 / 16*/} 
h2 {font-size:1.125em;/*18 / 16*/}
h3 {font-size:1em;/*16 / 16*/}

p {font-size:0.8125em;/*13 / 16*/}

a {} 
a:visited {}
a:hover.a:active {text-decoration:underline;}
a:focus {outline: thin dotted;}
a:hover, a:active { outline: 0; }

// Blockquote styles
blockquote {
  margin:1em .5em;
  p {
    font-style:oblique;
    font-size:1.1em; //18/16
    // text-indent:-.5em;
  }
  p:before {
    content:'“';
  }
  p:after {
    content:'”';
  }
  footer {
  	cite {
    	font-size:.875em; //14/16
    }
  }
}

/* =Forms
-------------------------------------------------------------- */

/* =Comments
-------------------------------------------------------------- */
// @Toolbox – Entire Comments block
#comments {}

// @Toolbox – Date/Timestamp under Reply
.comment-meta {
  font-size: .75em;
  text-transform: uppercase;
}

// @Toolbox – All text and forms associated with the comment form (clicking Reply)
#respond {
  font-size: .75em;
}

.commentlist, .children {
  // @Toolbox – Removes list bullet styles from comment list and children
  list-style-type: none;  
  border-left: 1px solid #ddd;
}

// @Toolbox – Removes "Allowed html tags..." code below comment box
.form-allowed-tags {
  display: none;
}

article.comment {
  display: block;
}
#respond input[type=text] {
  display: block;
  width: 60%;
}
#respond textarea {
  display: block;
  margin: 0 0 1em;
  width: 80%;
}
#respond .form-allowed-tags {
  clear: both;
  width: 80%;
}
#respond .form-allowed-tags code {
  display: block;
}

/* =Images and Image Galleries
-------------------------------------------------------------- */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  max-width: 100%; /* Keep wide captions from overflowing their container. */
  padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  font-style: italic;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  color: #777;
}
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.entry-content dl.gallery-item {
  margin: 0;
}
.gallery-item a {
  display: block;
  width: 90%;
}
.gallery-columns-1 .gallery-item a {
  max-width: 100%;
  width: auto;
}
.gallery .gallery-icon img {
  height: auto;
  max-width: 90%;
  padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
  padding: 3%;
}

/* =Media Queries 
-------------------------------------------------------------- */

.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
  max-width: 100%;
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* =Non-Semantic Helper Classes
-------------------------------------------------------------- */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }
.fl {float: left;}
.fr {float: right;}