@import "normalize";

/* =Variables
-------------------------------------------------------------- */



/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */


/* =Primary Navigation Dropdown Menu
-------------------------------------------------------------- */
@import "dropdownMenu";



/* =Globals
-------------------------------------------------------------- */

blockquote {
    margin:1em .5em;
    > p {
        font-style:oblique;
        font-size:1.1em; //18/16
    }
    > p:before {
        content:'“';
    }
    > p:after {
        content:'”';
    }
    footer {
        > p {
            font-size:.875em;
            text-align: right;
        }
        > p:before {
            content: "– ";
        }

    }
}

/* =Layout
-------------------------------------------------------------- */
html {}
body {}

div.page {
    width:80%;
    margin:0 auto;
}

header[role="banner"] {}

div.main-wrapper {
    div.primary {
        width:50%;
        float:left;
        margin-right: 10%;
    }
    div.secondary {
        width:40%;
        float:right;
    }
}

footer.page-footer {}



@import "wpcore";
@import "helperClasses";
@import "mediaq";
@import "print";
