@charset "UTF-8";
/* =normalize
-------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }

::selection { background: #333; color: #fff; text-shadow: none; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

/*  @extend properies
*/
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

.ir br { display: none; }

.visuallyhidden, .screen-reader-text { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus .screen-reader-text.focusable:active, .screen-reader-text.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.col-940 { width: 100%; max-width: 940px; margin: 0 auto; }

/*  @mixin properies
*/
.group { zoom: 1; }
.group:after { clear: both; }
.group:after, .group:before { content: ""; display: table; }

/* =Variables
-------------------------------------------------------------- */
/* =Globals 
-------------------------------------------------------------- */
h1 { font-size: 1.5em; }

h2 { font-size: 1.25em; }

h3 { font-size: 1em; }

h4 { font-size: 1em; }

h5 { font-size: 1em; }

h6 { font-size: 1em; }

a { text-decoration: none; color: #0093d0; }
a:visited { color: #0093d0; }
a:hover { color: #0093d0; }
a:focus { color: #0093d0; }
a:active { color: #0093d0; }
a:hover { text-decoration: underline; }

blockquote { margin: 1em .5em; }
blockquote > p { font-style: oblique; font-size: 1.1em; }
blockquote > p:before { content: '“'; }
blockquote > p:after { content: '”'; }
blockquote footer > p { font-size: .875em; text-align: right; }
blockquote footer > p:before { content: "– "; }

label { margin-top: 1em; display: inline-block; *display: inline; *zoom: 1; }

input[type="text"], input[type="password"], input[type="search"], textarea { width: 98%; line-height: 1.75; }

select, input[type="checkbox"], input[type="radio"] { display: inline-block; *display: inline; *zoom: 1; }

button, input[type="button"], input[type="reset"], input[type="submit"] { clear: both; margin: 1em 0; }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] { background: #cccccc; border-radius: 3px; border-color: #cccccc #cccccc #bbbbbb #cccccc; border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.8); padding: .5em 1em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #cccccc #bbbbbb #aaaaaa #bbbbbb; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
.button:focus, .button:active, button:focus, button:active, input[type="button"]:focus, input[type="button"]:active, input[type="reset"]:focus, input[type="reset"]:active, input[type="submit"]:focus, input[type="submit"]:active { border-color: #aaaaaa #bbbbbb #bbbbbb #bbbbbb; -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

/* =Primary Navigation Dropdown Menu
-------------------------------------------------------------- */
/* =Menu
-------------------------------------------------------------- */
header[role="banner"] nav[role="navigation"] ul { text-align: justify; }
header[role="banner"] nav[role="navigation"] ul ul { visibility: hidden; background-color: #fff; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); position: absolute; top: 40px; left: 0; z-index: 99999; width: 15em; padding: 1em 0; }
.cssanimations header[role="banner"] nav[role="navigation"] ul ul { margin: -20px 0 0 0; _margin: 0; /*IE6 only*/ transition: all .2s ease-in-out; opacity: 0; }
header[role="banner"] nav[role="navigation"] ul ul li { position: relative; display: block; margin: 0; padding: 0 0 0 1em; line-height: 2; }
header[role="banner"] nav[role="navigation"] ul ul li a { display: block; text-transform: capitalize; font-weight: normal; }
header[role="banner"] nav[role="navigation"] ul ul ul { left: 100%; top: 0; }
header[role="banner"] nav[role="navigation"] ul li { position: relative; display: inline-block; *display: inline; *zoom: 1; line-height: 40px; }
header[role="banner"] nav[role="navigation"] ul li:hover > ul { visibility: visible; }
.cssanimations header[role="banner"] nav[role="navigation"] ul li:hover > ul { opacity: 1; margin: 0; }
header[role="banner"] nav[role="navigation"] li.menuParent:after { content: "▼"; color: #ccc; font-size: .75em; }
header[role="banner"] nav[role="navigation"] ul:after { content: ''; width: 100%; display: inline-block; font-size: 0; line-height: 0; }

/* =Layout
-------------------------------------------------------------- */
div.page { width: 80%; margin: 0 auto; }

div.main-wrapper { zoom: 1; }
div.main-wrapper:after { clear: both; }
div.main-wrapper:after, div.main-wrapper:before { content: ""; display: table; }
div.main-wrapper div.primary { width: 50%; float: left; margin-right: 10%; }
div.main-wrapper div.secondary { width: 40%; float: right; }

/* =WordPress Core 
/* http://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */
.sticky { background-color: #ddd; padding: 2%; }

.bypostauthor { font-weight: bold; }

.alignnone { margin: 5px 20px 20px 0; }

.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }

.alignright { float: right; margin: 5px 0 20px 20px; }

.alignleft { float: left; margin: 5px 20px 20px 0; }

.aligncenter { display: block; margin: 5px auto 5px auto; }

a img.alignright { float: right; margin: 5px 0 20px 20px; }

a img.alignnone { margin: 5px 20px 20px 0; }

a img.alignleft { float: left; margin: 5px 20px 20px 0; }

a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }

.wp-caption.alignnone { margin: 5px 20px 20px 0; }

.wp-caption.alignleft { margin: 5px 20px 20px 0; }

.wp-caption.alignright { margin: 5px 0 20px 20px; }

.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }

.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

nav.paging-navigation, nav.post-navigation { margin: 2em 0; border-top: 1px solid #eee; }
nav.paging-navigation h1, nav.post-navigation h1 { font-size: 1em; }
nav.paging-navigation div.nav-previous, nav.post-navigation div.nav-previous { float: left; }
nav.paging-navigation div.nav-next, nav.post-navigation div.nav-next { float: right; }

/* =WordPress Core – Comments
-------------------------------------------------------------- */
.comment-meta { font-size: .75em; text-transform: uppercase; }

#respond { border-top: 1px solid #EEE; }
#respond h3#reply-title { font-size: 1.5em; }
#respond input[type=text] { display: block; width: 60%; }
#respond textarea { display: block; margin: 0 0 1em; width: 80%; }
#respond .form-allowed-tags { clear: both; width: 80%; }
#respond .form-allowed-tags code { display: block; }

ul.children { list-style: none; border-left: 1px solid #ccc; }

.commentlist { list-style-type: none; border-left: 1px solid #ddd; }

.form-allowed-tags { display: none; }

article.comment { display: block; }

/* =WordPress Core – Images and Image Galleries
-------------------------------------------------------------- */
.wp-caption { max-width: 100%; /* Keep wide captions from overflowing their container. */ padding: 4px; }

.wp-caption .wp-caption-text, .gallery-caption, .entry-caption { font-style: italic; font-size: .75em; line-height: 2; color: #777; }

.entry-content dl.gallery-item { margin: 0; }

.gallery-item a { display: block; width: 90%; }

.gallery-columns-1 .gallery-item a { max-width: 100%; width: auto; }

.gallery .gallery-icon img { height: auto; max-width: 90%; padding: 5%; }

.gallery-columns-1 .gallery-icon img { padding: 3%; }

.image-attachment div.entry-meta { float: left; }
.image-attachment nav { float: right; margin: 0 0 1em 0; }
.image-attachment .entry-content { clear: both; }
.image-attachment .entry-content .entry-attachment { background: #eee; margin: 0 0 1em; padding: 1em; text-align: center; }
.image-attachment .entry-content .attachment { display: block; margin: 0 auto; text-align: center; }

/* =WordPress Core - Responsive
-------------------------------------------------------------- */
.entry-content img, .comment-content img, .widget img { max-width: 100%; /* Fluid images for posts, comments, and widgets */ }

img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] { height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

img.size-full, img.size-large, img.header-image, img.wp-post-image { max-width: 100%; height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* Make sure videos and embeds fit their containers */
embed, iframe, object, video { max-width: 100%; }

img, embed, object, video { max-width: 100%; height: auto; }

@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
