/* =comments.php
-------------------------------------------------------------- */

#comments {

    .comment-meta {
        font-size: small;
        text-transform: uppercase;
    }

    .form-allowed-tags {
        //Removes "Allowed html tags..." code below comment box
        display: none;
    }

    ol.commentlist {
        //Removes list numeral styles from comment list
        list-style-type: none;

        ul.children {
            //Removes list bullet styles from comment list children
            list-style: none;
            border-left: 1px solid $base-border-color;
        }

        li.comment {

            article.comment {
                margin-bottom: $gutter-width;
            }
        }
    }

    #respond {

        border-top:1px solid $base-border-color;

        h3#reply-title {
            @include font-size(20);
        }

        input[type=text],
        input[type=email],
        input[type=url], {
            display: block;
            width: 60%;
        }

        textarea {
            display: block;
            margin: 0 0 $gutter-width;
            width: 80%;
        }

        .form-allowed-tags {
            clear: both;
            width: 80%;
        }

        .form-allowed-tags code {
            display: block;
        }

    }//#respond

}//#comments
