nav.site-navigation {
    margin: $gutter-width 0;
    a {
        text-decoration: none;
    }
}
nav.paging-navigation,
nav.post-navigation {
    @extend %cf;
    margin: $gutter-width 0;

    div.nav-previous {
        @extend .button;
        float: left;
    }
    div.nav-next {
        @extend .button;
        float: right;
    }
}
