nav.site-navigation {
    margin: $gutter-width 0;
}

nav.paging-navigation,
nav.post-navigation {
    @extend %cf;
    margin: $gutter-width 0;
    border-top: 1px solid $base-border-color;

    div.nav-previous {
        float: left;
    }
    div.nav-next {
        float: right;
    }
}
