/* =Content Area
// Home, Single, Archive, Blog, Page
-------------------------------------------------------------- */
section.primary {
    article {
        .archive &, .blog & {
            &.post {
                border-bottom: 1px solid $base-border-color;
                padding: $gutter-width 0;

                &.last-child {
                    border-bottom: 0;
                }//.last-child
            }//.post
        }//.archive &, .blog &

        header.entry-header {

            .entry-title {
                a {

                }
            }//entry-title

            .entry-meta {

            }//entry-meta

        }//header.entry-header

        .entry-content {
            @extend %cf;
        }//.entry-content

        footer.entry-meta {

        }//footer.entry-meta

    }//article

}//.primary
